body {
  font-family: Arial;
}

/* TOPBAR */
.topbar {
    height: 60px;
    background: #df6b17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
    color: white;
    font-size: 20px;
}
.topbar .menu {
    display: flex;
    gap: 25px;
}
.topbar .menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #423e3c;
    color: white;
    height: calc(300vh - 60px);
    padding: 20px;
}

.sidebar button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #df6b17;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}
.sidebar button:hover {
    background: #313b54;
}

/* MAIN */
.main {
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}