body {
  font-family: Arial;
}
.app-container {
  display: flex;
  flex: 1;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* TOPBAR */
.topbar {
    height: 60px;
    background: #df6b17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
    color: white;
    font-size: 20px;
}
.topbar .menu {
    display: flex;
    gap: 25px;
}
.topbar .menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #423e3c;
    color: white;
    height: calc(300vh - 60px);
    padding: 20px;
}

.sidebar button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #df6b17;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}
.sidebar button:hover {
    background: #313b54;
}

/* MAIN */
.main {
    width: 100%;
    max-width: 1500px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card {
    background: white;
    width: 1350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
    font-size: 20px;
    margin: 20px auto;
}
.card input {
    margin-bottom: 30px;
}
.card button {
    display: inline-block;
    width: auto;

    padding: 10px 18px;
    margin: 10px 8px 0 0;

    font-size: 16px;
    font-weight: 600;

    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.card button:hover {
    background: #bbdfe7;
}

#formStyle {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formStyle input {
    width: 100%;
    max-width: 800px;
}

/* PARA EL FORM DE AGREGAR EVENT MENSUAL */
.formInputRow {
    display: flex;
    align-items: center;
    width: 100%;
    width: 800px;
    margin-bottom: 15px;
    gap: 12px;
    font-weight: bold;
}
.formInputRow label {
    max-width: 150px;
    font-weight: bold;
    flex-shrink: 0;
}
.formInputRow input,
.formInputRow select {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.labelGroup {
  width: 150px;
  display: flex;
  flex-direction: column;
}

/* PARA EL $ EN MONTO */
.inputWithSymbol {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 8px;
  flex: 1;
  max-width: 300px;
}

.inputWithSymbol span {
  margin-right: 6px;
  font-weight: bold;
}

.inputWithSymbol input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 0;
}

/* PARA EL END_DATE */
.smallSelect {
  width: 140px;
  padding: 6px;
  border-radius: 6px;
}

.event-box {
  min-width: 120px;
  max-width: 180px;
  height: 75px;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  background: #df6b17;
}